<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi Sensor Data</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/scripts.js"></script>
</head>
<body>
    <h1>Raspberry Pi Sensor Data</h1>
    <div class="sensor-data">
        <div>
            <h2>Temperature</h2>
            <p id="temperature">--</p>
        </div>
        <div>
            <h2>Humidity</h2>
            <p id="humidity">--</p>
        </div>
    </div>
    <!-- <button onclick="captureImage()">Capture Image</button>
    <h2>Image Gallery</h2>
    <div id="gallery" class="gallery"></div> -->
</body>
</html>

